<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.panidomu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pani_domu_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaniDomu">
        <activity
            android:name=".activity.FotoActivity"
            android:label="Zdjęcia"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".activity.AboutWorkerActivity"
            android:label="Zalety"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity.ContactActivity"
            android:label="Kontakt"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.WashMashActivity"
            android:label="Zmywarka"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CleaningActivity"
            android:label="Sprzątanie"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.WashingActivity"
            android:label="Pranie"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.BestWorkerActivity"
            android:label="@string/best_worker_name_acrivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>